# Licensing Server — variáveis de ambiente
DATABASE_URL=postgresql://user:password@host:5432/milhasup_licensing
SHARED_API_SECRET=mup-api-87d8deb37f1b06530dffc2b8a35ea32359eb9c54
JWT_SECRET=f9ad917756061f7440b945cb3253f557f351097b3af2cceafe9180278222cbd1
ADMIN_TOKEN=senha-forte-do-painel-admin
JWT_EXPIRE_DAYS=7
PORT=8000
